<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.webServer>
        <directoryBrowse enabled="false" />
        <staticContent>
            <clientCache cacheControlMaxAge="30.00:00:00" cacheControlMode="UseMaxAge"/>
            <remove fileExtension=".html"/>
            <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8"/>
            <remove fileExtension=".css"/>
            <mimeMap fileExtension=".css" mimeType="text/css"/>
            <remove fileExtension=".js"/>
            <mimeMap fileExtension=".js" mimeType="text/javascript"/>
            <remove fileExtension=".eot"/>
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
            <remove fileExtension=".ttf"/>
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".ttc"/>
            <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
            <remove fileExtension=".otf"/>
            <mimeMap fileExtension=".otf" mimeType="font/opentype"/>
            <remove fileExtension=".woff"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
            <remove fileExtension=".woff2"/>
            <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
            <remove fileExtension=".ico"/>
            <mimeMap fileExtension=".ico" mimeType="image/x-icon"/>
            <remove fileExtension=".webp"/>
            <mimeMap fileExtension=".webp" mimeType="image/webp"/>
        </staticContent>
        <httpCompression staticCompressionEnableCpuUsage="70" dynamicCompressionEnableCpuUsage="70" minFileSizeForComp="0" directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
            <scheme name="gzip" doStaticCompression="true" doDynamicCompression="true"  dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
            <dynamicTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="application/json" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="text/*" enabled="true" />
                <add mimeType="application/x-javascript" enabled="true" />
                <add mimeType="font/*" enabled="true" />
                <add mimeType="image/x-icon" enabled="true" />
                <add mimeType="image/svg+xml" enabled="true" />
                <add mimeType="*/*" enabled="false" />
            </staticTypes>
        </httpCompression>
        <urlCompression doStaticCompression="true" doDynamicCompression="true"  />
        <httpProtocol>
            <customHeaders>
                <remove name="Vary"></remove>
                <add name="Vary" value="Accept-Encoding"></add>
                <add name="Content-Security-Policy" value="img-src 'self' data:; default-src 'self' https://www.google.com https://www.google-analytics.com https://www.googletagmanager.com 'unsafe-inline'; base-uri 'self';" />
                <remove name="X-Frame-Options" />
                <add name="X-Frame-Options" value="DENY" />
                <remove name="X-XSS-Protection" />
                <add name="X-XSS-Protection" value="1; mode=block"/>    
                <remove name="X-Content-Type-Options"/>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <remove name="X-Powered-By"/>
                <add name="X-Powered-By" value="My Little Pony"/>
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="Redirect to WWW" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^silvianerepresentacoes.com.br$" />
                    </conditions>
                    <action type="Redirect" url="http://www.silvianerepresentacoes.com.br/{R:0}" redirectType="Permanent" />
                </rule>
                <rule name="Default Document" stopProcessing="true"> 
                    <match url="(.*)index.html" /> 
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" /> 
                </rule>
            </rules>
            <outboundRules>
                <rule name="Remove ETag">
                <match serverVariable="RESPONSE_ETag" pattern=".+" />
                <action type="Rewrite" value="" />
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>